<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/chatsheet.css' %}">
    <!-- add a script tag here for when you add javascript into the static folder-->
</head>
<body>
<div id="nav">
    <div id="home">
        <img src="/static/img/home.svg"/>
        <h2>go home</h2>
    </div>
    <div id="newChat">
        <img src="static/img/plus.svg"/>
        <h2>add new chat</h2>
    </div>
</div>
<div id="chatnav">
    <div id="profileInfo">
        <img src="/static/img/selectedimg.svg"/>
        <h2 id="username"></h2>
    </div>
    <div id="chatoptions">
        <img src="/static/img/threedots.svg"/>
    </div>
</div>
<div id="chatlist">
    <!--add all rooms that user is part of-->
</div>
<div id="currentchat">
<h1>click a chat to start</h1>
</div>
</body>
</html>