<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
    <!-- add a script tag here for when you add javascript into the static folder-->
</head>
<body>
<div class="logoContainer">
    <div class="logo">
        <h1>musichat</h1><h1 id="dot">.</h1><h1>net&nbsp;</h1>
    </div>
</div>
<div id="matchingContainer">
    <div id="loadingState">
        <h2 id="loadingtxt">we're looking</h2>
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <div id="matchedState">
        <h2 id="matchedtxt">we found a match<span id="punctuation">!</span></h2>
            <button id="matchedBtn" onclick="goToChat()">go say hi</button>
    </div>
</div>
</body>
<script>
let chatId = null;


async function checkMatch() {
    const result = await fetch("/chat/load_chat_from_match/");
    const data = await result.json();

    //display chatbutton if match, else redirect to none_found
    if (data.matched) {
        chatId = data.chat_id;
        showMatched();
    } else {
        window.location.href = '/chat/none_found/';
    }
}

function showMatched() {
    document.getElementById('loadingState').style.display = 'none';
    document.getElementById('matchedState').style.display = 'flex';
}

function goToChat() {
    window.location.href = `/chat/${chatId}/`;
}

checkMatch();
</script>
</html>