@font-face {
    font-family: "Angular";
    src: url(/static/font/DelaGothicOne-Regular.ttf) format("truetype");
}

* {
    font-family: 'Angular';
}

.page{
    display:flex;
    flex-direction:column;
    align-items:center;
}

body{
    background-color: #1c1c1c;
}

h1 {
    color: #ffffff;
}

/* LOGO */
.logoContainer{
    width: 99vw;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}



.logo {
    align-self: flex-start;
    display: flex;
}

.userGreeting {
    align-self: flex-end;
    display: flex;
}

#comma {
    color: #00C6CF;
}

#dot {
    color: #00C6CF;
}



/* GRID MENU */
.homeMenu{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto;
    gap:30px;
    width: 90vw;
    margin:20px auto;
}

.card{
    background-color:#00C6CF;
    padding:25px;
    border-radius:20px;
    color: #ffffff;
}

.menuChats{
    grid-row-end: span 3;
}

.menuChat{
    background-color:#1c1c1c;
    height:50px;
    border-radius:25px;
    margin:15px 0;
}

button.menu{
    background-color:#ffffff;
    border:none;
    padding:12px 24px;
    border-radius:20px;
    color:#00C6CF;
}