@font-face {
    font-family: "Angular";
    src: url(static/font/TypoAngularRoundedRegularDemo.otf) format("opentype");
}

* {
    font-family: 'Angular';
}

body, h1, h2 {
    text-align: center;
    background-color: bisque;
    color:brown;
}
p {
    text-align:center;
    color:black;
}
