@font-face {
    font-family: "Angular";
    src: url(/static/font/DelaGothicOne-Regular.ttf) format("truetype");
}

* {
    font-family: 'Angular';
}

button {
    display: inline;
}

body{
    text-align: center;
    background-color: #1c1c1c;
    color:rgb(255, 255, 255);
}

p, h1, h2 {
    text-align:center;
    color:rgb(255, 255, 255);
}

#container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     gap: 10vh; /*space between artist_search and song_search*/
}

.title{
    border: outset 2px rgba(255, 255, 255,0.2);
    border-radius: 20px;
    box-shadow: 
    2px 2px 6px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 8px 0 rgba(255, 255, 255, 0.25);
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(142, 141, 141, 0.15));
    margin-bottom: 3.5vh;
    padding: 20px;
}

.formContainer {
    border: outset 2px rgba(255, 255, 255,0.2);
    border-radius: 20px;
    box-shadow: 
    2px 2px 6px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #2d2d2d;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

nav {
    border: outset 2px rgba(255, 255, 255,0.2);
    border-radius: 20px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -12px -12px 16px 0 rgba(102, 102, 102, 0.25);
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(142, 141, 141, 0.15));
    margin-bottom: 3.5vh;
    
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 25px;
  color: #ffffff;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.warningContainer{
    background-color: #ffffff;
    padding-bottom: 3vh;
    margin: 10vh;
    display: none;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -3px -3px 16px 0 rgba(0, 0, 0, 0.25);

}


.warningTitle{
    color: rgb(255, 255, 255);
    border: 1px solid #2d2d2d;
    background-color: #1c1c1c;
    padding: 2% 0 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warningTitle img {
    border-radius: 60px;
    max-height: 3vh;
    min-height: 2vh;
    display: block;
}

.warningTitle button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    max-block-size: 3vh;
}

.messageContainer {
    padding: 2% 5%;
    color: #000000;
}

.error {
  float: center;
  display: block;
  text-align: center;
  padding: 10px 25px;
  color: #ffffff;
}

#song_search {
    width: 50vw;
    height: 25vh;
    padding: 16px;
    background: orange;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset,
    -12px -12px 16px 0 rgba(102, 102, 102, 0.25) inset;
}

#artist_search{
    width: 50vw;
    height: 25vh;
    padding: 16px;
    background: green;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset,
    -12px -12px 16px 0 rgba(102, 102, 102, 0.25) inset;
}

.active {
    transform: scale(1.5);
    
}

/* Search bar and search item stuff */

.searchContainer {
    background-color: #2d2d2d;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
    gap: 8px;
    border-radius:0 0 20px 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.searchItem{
    min-width: 0;
    margin-left: 30px;
    margin-right: 30px;   
    display: flex;
    align-items: stretch;
    border-bottom: outset 2px rgba(255, 255, 255,0.2);
}

.searchContainer :hover {
    background-color: #1c1c1c; /*get rid of margin and make this look nice */
}

.searchItemImg {
    border-radius: 28px;
    border: outset 2px rgba(255, 255, 255,0.2);
    margin-right: 2px;
    max-height: 4vh;
}

.itemSelectionContainer {
    border: outset 2px rgba(255, 255, 255,0.2);
    border-radius: 20px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -6px -6px 16px 0 rgba(102, 102, 102, 0.25);
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(142, 141, 141, 0.15));
    margin-bottom: 5vh;
    margin-left: 30px;
    margin-right: 30px;    
    margin-top: 4vh;
}

.selectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 16px;
    max-width: auto;
    margin: 0 auto;
    padding-bottom: 5vh;

}

.selectedItem {
    flex: 1 1 100px;
    position: relative;
    min-width: 100px;
    max-width: 120px;
    box-sizing: border-box;
    padding: 20px;
    margin: 8px 0;
    border: outset 2px rgba(255, 255, 255,0.2);
    border-radius: 20px;
}

.selectedItem img {
    max-height: 10vh;
    min-height: 2vh;
    border-radius: 60px;
}

.selectedItem button {
    border: none;
    display: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 4vh;
    transform: translate(50%, -50%);
    
}

.selectedItem button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selectionSubmitBtn {
    margin-bottom: 5vh;
    background-color: green;
    color: #ffffff;
    padding: 2vh;
    border: outset 2px rgba(255, 255, 255,0.2);
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}

.selectionSubmitBtn:hover {
    background-color: rgb(0, 169, 0);
    border: outset 2px rgba(255, 255, 255, 0.333);
}


.filter {
    filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(7000%) hue-rotate(0deg) brightness(95%) contrast(120%);
}

/*searchbars*/
input {
    color: rgb(0, 0, 0);
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    filter: drop-shadow(0 0 2px black);
}

input[type="text"] {
    background-image: url(/static/img/search.svg);
    background-color: #2d2d2d;
    background-size: max(30px, 30px);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 50px;
    width: 50vw;
    line-height: 5vh;
    border: outset 2px rgba(255, 255, 255,0.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.10);
    border-radius: 20px;
    margin-bottom: 0;
    color: #ffffff;
}