<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>
    <script src="{% static 'js/artistSearch.js' %}" defer></script>
    <title>Artist Search</title>
</head>
<body>
    <div class="itemSelectionContainer">
        <h2>Choose your Top 5:</h2>
        <div class="selectionContainer">
            <div class="selectedItem">
                <img src="" class="selectedItemImg" >                
                <button onmouseover="changeToRed(event)" onmouseout="changeToRed(event)" onclick="removeItem(event)">
                    <img src="/static/img/xmark.svg"/>
                </button>                
                <p></p>
            </div>
            <div class="selectedItem">
                <img src="" class="selectedItemImg" >                
                <button onmouseover="changeToRed(event)" onmouseout="changeToRed(event)" onclick="removeItem(event)">
                    <img src="/static/img/xmark.svg"/>
                </button>                
                <p></p>
            </div>
            <div class="selectedItem">
                <img src="" class="selectedItemImg" >                
                <button onmouseover="changeToRed(event)" onmouseout="changeToRed(event)" onclick="removeItem(event)">
                    <img src="/static/img/xmark.svg"/>
                </button>                
                <p></p>
            </div>
            <div class="selectedItem">
                <img src="" class="selectedItemImg" >                
                <button onmouseover="changeToRed(event)" onmouseout="changeToRed(event)" onclick="removeItem(event)">
                    <img src="/static/img/xmark.svg"/>
                </button>                
                <p></p>
            </div>
            <div class="selectedItem">
                <img src="" class="selectedItemImg" >                
                <button onmouseover="changeToRed(event)" onmouseout="changeToRed(event)" onclick="removeItem(event)">
                    <img src="/static/img/xmark.svg"/>
                </button>                
                <p></p>
            </div>
        </div>
        <button class="selectionSubmitBtn" onclick="submit()">submit</button>
    </div>
    <div class="warningContainer">
        <div class="warningTitle">
            Warning!
            <button onmouseover="changeToRed(event)" onmouseout="changeToRed(event)" onclick="removeWarning()">
                <img src="/static/img/xmark.svg"/>
            </button>                
        </div>
        <div class="messageContainer">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
        
    <form method='GET' action='' autocomplete="off">
        <input type="text" name = 'artist' placeholder="enter artist"/>
    </form>


    <div class="searchContainer">
    {% for result in results %}
    <div class="searchItem">
        <img src="{{ result.picture }}" class="searchItemImg">
        <p>{{ result.name }}</p>
    </div>
    {% endfor %}
    </div>
</body>

</html>
