<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Artist Search</title>
</head>
<body>
    <h1> This will let you search artists</h1>
    <form method='GET' action=''>
        <input type="text" name = 'artist' placeholder="enter artist"/>
        <input type="submit" name = "search"> 
    </form>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% for result in results %}
    <div>
        <p>{{ result.name }}</p>
        <img src="{{ result.picture }}">
    </div>
    {% endfor %}
</body>
</html>