{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1> This is the login page:</h1>
    <form method='POST' action=''>
        {% csrf_token %}
        <input type="text" name = 'username' placeholder="enter username"/>
        <input type="password" name = 'password' placeholder="enter password"/>
        <input type="submit" name = "Login to account">
    </form>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

{% endblock %}