<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>match</title>
</head>
<body>
    <div id="container">
        <h2>What do you want to match by?</h2>
        <div id="artist_search">
            <p>Match by Top 5 Artists</p>
        </div>
        <div id="song_search">
            <p>Match by Top 5 Songs</p>
        </div>
    </div>
</body>
</html>