<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>match</title>
</head>
<body>

    <div id="container">
        <h2>Are you ready?</h2>
        <div id="song_search">
            <h2>Match!</h2>
        </div>
    </div>
</body>
<script>
    let songSearchContainer = document.getElementById('song_search')

    //add event listener click to lead to other pages 
    function animateWithEvent(element, animationClass) {
        return new Promise((resolve) => {
            element.style.background = 'rgb(152, 69, 152)'
            element.classList.toggle(animationClass);
            element.addEventListener('transitionend', () => {
                resolve();
            }, { once: true});
        });
    }
    songSearchContainer.addEventListener('click', function() {
        function songSearchTransition() {
            return new Promise((resolve) => {
                resolve(window.location.replace("/account/songSearch"));
            });
        }
        async function sequenceSong(){
            await animateWithEvent(songSearchContainer, 'active');
            await songSearchTransition();
        }

        sequenceSong();
    });
</script>
</html>