<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/match.css' %}">
    <title>match</title>
</head>
<body>
    <div class="logoContainer">
    <div class="logo">
        <h1>musichat</h1><h1 id="dot">.</h1><h1>net&nbsp;</h1>
    </div>
    
</div>

    <div id="container">
        <div id="readyContainer">
        <div id="heading">
        <h2>ready to find your match</h2><h2 id="punctuation">?</h2>
        </div>
        <div id="song_search">
            <h2 id="btntxt">lets go!</h2>
        </div>
    </div>
    </div>
</body>
<script>
    let songSearchContainer = document.getElementById('song_search');

    //add event listener click to lead to other pages 
    songSearchContainer.addEventListener('click', function() {
    window.location.href = "/account/songSearch/";
});
</script>
</html>