<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Song Search</title>
</head>
<body>
    <div class="itemSelectionContainer">
        <h2>Choose your Top 5:</h2>
        <div class="selectionContainer">
            <div class="selectedItem">
                <img>
                <p>this is a song name</p>
            </div>
            <div class="selectedItem">
                <img>
                <p>this is a song name</p>
            </div>
            <div class="selectedItem">
                <img>
                <p>this is a song name</p>
            </div>
            <div class="selectedItem">
                <img>
                <p>this is a song name</p>
            </div>
            <div class="selectedItem">
                <img>
                <p>this is a song name</p>
            </div>
        </div>
    </div>
    <form method='GET' action='' autocomplete="off">
        <input type="text" name = 'track' placeholder="enter track"/>
    </form>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="searchContainer">
    {% for result in results %}
    <div class="searchItem">
        <img src="{{ result.album.cover_small }}" class="searchItemImg"><p>{{ result.title }} - {{ result.artist.name }}</p>
    </div>
    {% endfor %}
    </div>
</body>
<script>
    const searchList = document.getElementsByClassName('searchItem');
    console.log(searchList);
    sessionStorage.setItem("songlist", searchList);
    let storedSongs = sessionStorage.getItem("songlist");
    for (song in storedSongs) {
        console.log(song);
        var para = document.createElement("p");
        para.textContent = song;
        document.getElementById("searchContainer").appendChild(para);
    }
</script>
</html>
