{% extends 'layout.html' %}

{% block title %}
    Search for songs
{% endblock %}

{% block content %}
    <h1> This will let you search songs (integrate later)</h1>
    <form method='GET' action=''>
        <input type="text" name = 'track' placeholder="enter track"/>
        <input type="submit" name = "search">

    {% for result in results %}
    <div>
        <p>{{ result.title }} - {{ result.artist.name }}</p>
        <img src="{{ result.album.cover_medium }}">
    </div>
    {% endfor %}
{% endblock %}