<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- add a script tag here for when you add javascript into the static folder-->
</head>
<body>
    <nav>
        <ul>
            <li>This is your nav bar</li>
            <!--fill in with more content later-->
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>